
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: calc(100%);
    font-family: sans-serif;
    /*background: #007bff;*/
}

main#main {
    width: 100%;
    height: calc(100%);
    background: white;
}

#login-right {
    position: absolute;
    right: 0;
    width: 40%;
    height: calc(100%);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

#login-left {
    position: absolute;
    left: 0;
    width: 60%;
    height: calc(100%);
    background: #59b6ec61;
    display: flex;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1582883545851-725a3b9502ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

#login-right .card {
    margin: auto;
    z-index: 1
}

.logo {
    margin: auto;
    font-size: 8rem;
    background: white;
    padding: .5em 0.7em;
    border-radius: 50% 50%;
    color: #000000b3;
    z-index: 10;
}

div#login-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    /*background: #000000e0;*/
}

.titulo {
    color: blue;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;

}

